* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Poppins", "Noto Sans KR", AritaDotum, serif;
  color: #000;
}

*, ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: middle;
}

.clearFix::after {
  content: "";
  display: block;
  clear: both;
}

.blind {
  position: absolute;
  top: -999999px;
}

address, i, em {
  font-style: normal;
}

#container {
  background: #0f2142;
  color: white;
}

.sect-wrap {
  max-width: 1420px;
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;
}

.big_title {
  font-family: "DM Serif Text";
  font-size: 120px;
  color: #efefef;
  font-style: italic;
  padding: 70px 0 80px;
}

header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
header .header_wrap {
  max-width: 1980px;
  padding: 0 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_wrap .logo a {
  font-family: "Pacifico", serif;
  font-size: 55px;
  background: linear-gradient(90deg, rgb(167, 196, 250) 31%, rgb(215, 152, 216) 71%);
  color: transparent;
  -webkit-background-clip: text;
}
header .header_wrap .gnb ul {
  display: flex;
}
header .header_wrap .gnb ul li {
  padding: 20px 50px;
  position: relative;
  transition: all 0.3s ease;
}
header .header_wrap .gnb ul li.active a {
  color: #92a8d1;
}
header .header_wrap .gnb ul li:hover a {
  color: #d798d8;
}
header .header_wrap .gnb ul li.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #92a8d1;
}

footer {
  width: 100%;
  background: #000;
  padding: 50px 0;
}
footer .sect-wrap {
  display: flex;
  flex-direction: column;
}
footer .sect-wrap .foot_top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
footer .sect-wrap .foot_top .foot_left .foot_link {
  margin-bottom: 30px;
}
footer .sect-wrap .foot_top .foot_left .foot_link ul {
  display: flex;
  gap: 25px;
}
footer .sect-wrap .foot_top .foot_left .foot_link ul li {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
}
footer .sect-wrap .foot_top .foot_left .foot_link ul li img {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .sect-wrap .foot_top .foot_left .foot_address ul li {
  margin-bottom: 10px;
}
footer .sect-wrap .foot_top .foot_left .foot_address ul li:last-child {
  margin-bottom: 0;
}
footer .sect-wrap .foot_top .foot_left .foot_address ul li a {
  color: white;
}
footer .sect-wrap .foot_top .foot_left .foot_address ul li a span {
  font-weight: 600;
  color: #e2e8f2;
  display: inline-block;
  width: 100px;
}
footer .sect-wrap .foot_top .foot_right .foot_logo {
  text-align: end;
}
footer .sect-wrap .foot_top .foot_right .foot_logo a {
  font-family: "Pacifico", serif;
  font-size: 55px;
  background: linear-gradient(90deg, rgb(255, 255, 255) 31%, rgb(177, 176, 176) 84%);
  color: transparent;
  -webkit-background-clip: text;
}
footer .sect-wrap .foot_top .foot_right .copyright {
  color: #a7a5a5;
  font-size: 13px;
}